@keyframes blacktowhite {
    0% {border-color: white;}
    50% {border-color: black;}
    100% {border-color: white;}
}

body {
    display: flex;
    flex-direction: column;
    background-color: #FEF0B9;
    
}
nav.nav1 {
        display: flex;
        justify-content: center;
        border-style: dotted;
        background-color: #C0410C;
        border-width: 3px;
        border-color: rgb(0, 0, 0);
    
}
img.logo {
    background-color: #646F03;
    border-radius: 100%;
    height: 48px;
    float: left
}
ul.nobullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}
ul.nobullets li {
    float: left
}
ul.nobullets a{
    display: block;
    padding: 8px;
    height: auto;
    color: #FEF0B9;
    
    font-size: 28px;

}

ul.nobullets a:hover{
    background-color: #892f08;
}

div.welcome {
    width: 1200px;
    height: auto;
    background-color: rgba(110, 255, 0, 15);
    margin: 0;
    padding: 0;
    
    font-size: 32px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.photo {
    gap: 32px;
    padding: 1em;
}
.photo img{
    width: 200px;
    height: 200px;
}
.photo div {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.tuotteet {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

div.photo img{
    border: 2px;
    border-style: dashed;
    animation-name: blacktowhite;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}